<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
            <!-- <data android:scheme="http" /> -->
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries> <!-- <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.myTheme.NoActionBar">
        <activity
            android:name=".Lock_Screen"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ServerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".TransferReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransferDispatchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeliveryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PriceListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>